<div class="main-content">
    <div class="online-strip">
        <div class="col-md-4 follow-us">
          <h3>follow us : <a class="btn btn-sm font20" href="<%= current_theme.get_field('shipping_fb') %>"><i class="fa fa-facebook"></i></a><a class="btn btn-sm font20" href="<%= current_theme.get_field('shipping_twitter') %>"><i class="fa fa-twitter"></i></a><a class="btn btn-sm font20" href="<%= current_theme.get_field('shipping_gplus') %>"><i class="fa fa-google-plus"></i></a></h3>
        </div>
        <div class="col-md-4 shipping-grid">
            <div class="shipping">
                <img src="<%= theme_asset_url("images/shipping.png") %>" alt="" />
            </div>
            <div class="shipping-text">
                <h3>Free Shipping</h3>
                <p>on orders over <%= @current_site.current_unit.to_s %> 10 <%= current_theme.get_field('free_shipping') %></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 online-order">
            <p>Order online</p>
            <h3>Tel: <%= current_theme.get_field('order_online_tel') %></h3>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="products-grid">
        <header>
            <h3 class="head text-center">Latest Products</h3>
        </header>
        <% (current_site.the_products.decorate).each_with_index do |product, index| %>
            <%= render partial: "post_types/commerce/post_list_item", locals: {product: product} %>
        <% end %>
        <div class="clearfix"></div>
    </div>
</div>
